header {
  background: #ED7339;
}

h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 150%;
  color: #FFF8EE;
}

h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 150%;
  color: #ED7339;
}

h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: #000000;
}

.title p {
  color: #3C2829;
}


/*____________________________________________---1---_____________________________________*/

.section-1-3 {
  width: 100%;
  background-image: url(../img/arrows-1-3.svg);
  background-size: 100% 100%;
}

#black {
  color: #000;
}

#white {
  color: #fff;
}

.section-1-3 .container .block-1 h3 {
  width: 975px;
  padding-top: 100px;
  font-weight: bold;
  font-size: 48px;
  line-height: 150%;
  text-transform: uppercase;
  color: #ED7339;
}

.section-1-3 .container .block-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.section-1-3 .container .block-2 p {
  float: left;
  width: 95%;
  padding-bottom: 200px;
  margin-top: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: #000000;
}


/*____________________________________________---1---_____________________________________*/


/*____________________________________________---2---_____________________________________*/

.section-2-3 {
  background-color: #000;
  width: 100%;
  background-image: url(../img/bg-2-3.svg);
  background-size: 100% 100%;
}

.section-2-3 .container .block-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-bottom: 110px;
}

.section-2-3 .container .block-2 .card:nth-child(1) {
  grid-column: 1 / 2;
}

.section-2-3 .container .block-2 .card:nth-child(2) {
  grid-column: 3 / 4;
}

.section-2-3 .container .block-2 .card:nth-child(3) {
  grid-column: 5 / 6;
}

.section-2-3 h3 {
  width: 650px;
  padding-top: 100px;
  padding-bottom: 35px;
}

.section-2-3 .card h4 {
  color: #FFF8EE;
}

.section-2-3 .card p {
  color: #FFF8EE;
}


/*____________________________________________---2---_____________________________________*/


/*____________________________________________---3---_____________________________________*/

.section-3-3 {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.section-3-3 h3 {
  grid-column: 1 / 5;
}

.section-3-3 .block-1 {
  order: 1;
  grid-column: 1 / 3;
}

.section-3-3 .block-2 {
  order: 2;
  grid-column: 3 / 6;
}

.section-3-3 .btn-black {
  position: relative;
  z-index: 4;
  width: 50%;
  height: 50px;
  margin-top: 50px;
  border-radius: 10px;
  text-decoration: none;
  background: #000000;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 50px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: #FFF8EE;
}

.section-3-3 p {
  margin-top: 50px;
}

.section-3-3 img {
  width: 100%;
}


/*____________________________________________---3---_____________________________________*/


/*____________________________________________---4↓---_____________________________________*/

.section-4-3 {
  position: relative;
  z-index: 4;
  display: grid;
  justify-content: center;
  margin-top: 200px;
  max-height: 680px;
  width: 100%;
  background-color: #ED7339;
  text-align: center;
}

.section-4-3 h3 {
  margin-top: 50px;
  color: #3C2829;
}

.section-4-3 hr {
  margin: auto;
}

.section-4-3 h4 {
  margin-top: 55px;
  color: #FFF8EE;
}

.section-4-3 p {
  margin-bottom: 20px;
  color: #3C2829;
}

.feedback-slider p {
  margin-top: 20px;
  color: #FFF8EE;
}

.feedback-slider {
  text-align: center;
  margin: 0 auto;
  max-width: 940px;
}

.feedback-slide_viewer {
  height: 340px;
  overflow: hidden;
  position: relative;
}

.feedback-slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.feedback-slide {
  position: relative;
  z-index: 4;
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.feedback-slide:first-child {
  display: block;
}

.feedback-slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.feedback-slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.feedback-slide_btn.active,
.feedback-slide_btn:hover {
  color: #3C2829;
  cursor: pointer;
}

.feedback-directional_nav {
  height: 340px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -340px;
}

.feedback-previous_btn {
  bottom: 0;
  left: -100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.feedback-next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: -100px;
  top: 0;
}

.feedback-previous_btn,
.feedback-next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.feedback-previous_btn:hover,
.feedback-next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .feedback-previous_btn {
    left: 50px;
  }
  .feedback-next_btn {
    right: 50px;
  }
}


/*____________________________________________---4↑---_____________________________________*/


/*____________________________________________---5↓---_____________________________________*/

.section-5-3 {
  margin-top: 100px;
}

.section-5-3 .block {
  margin-top: 70px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.section-5-3 h3 {
  text-align: center;
}

.section-5-3 h4 {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.section-5-3 img {
  width: 80%;
  grid-column: 2 / 3;
}

.section-5-3 .text {
  grid-column: 3 / 5;
}


/*____________________________________________---5↑---_____________________________________*/


/*____________________________________________---Adaptive---_____________________________________*/

@media (max-width: 768px) {
  h2 {
    font-size: 40px;
    line-height: 150%;
  }
  h3 {
    font-size: 20px;
    line-height: 150%;
  }
  h4 {
    font-weight: 300;
    font-size: 16px;
    line-height: 36px;
  }
  p {
    font-size: 14px;
    line-height: 170%;
  }
  /*____________________________________________---1↓---_____________________________________*/
  .section-1-3 {
    background-image: none;
  }
  .section-1-3 .container .block-1 h3 {
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
  }
  .section-1-3 .container .block-2 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .section-1-3 .container .block-2 p {
    padding-bottom: 40px;
    margin-top: 0px;
    font-size: 14px;
  }
  /*____________________________________________---2↓---_____________________________________*/
  .section-2-3 {
    background-image: url(../img/bg-2-3-md.svg);
    background-size: 100% 100%;
  }
  .section-2-3 .container .block-2 {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 50px;
  }
  .section-2-3 .container .block-2 hr {
    display: none;
  }
  .section-2-3 .container .block-2 .card:nth-child(1) {
    grid-column: 1 / 1;
  }
  .section-2-3 .container .block-2 .card:nth-child(2) {
    grid-column: 1 / 1;
  }
  .section-2-3 .container .block-2 .card:nth-child(3) {
    grid-column: 1 / 1;
  }
  .section-2-3 h3 {
    padding-bottom: 0;
  }
  .section-2-3 h3 {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 0;
  }
  .section-2-3 .card h4 {
    padding-top: 60px;
  }
  /*____________________________________________---3↓---_____________________________________*/
  .section-3-3 {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .section-3-3 h3 {
    grid-column: 1 / 5;
  }
  .section-3-3 .block-1 {
    order: 2;
    grid-column: 1 / 6;
  }
  .section-3-3 .block-2 {
    order: 1;
    grid-column: 1 / 6;
  }
  .section-3-3 img {
    margin-top: 50px;
    width: 80%;
  }
  .section-3-3 .btn-black {
    width: 100%;
    height: 50px;
    margin-top: 25px;
  }
  /*____________________________________________---4↓---_____________________________________*/
  .section-4-3 {
    margin-top: 50px;
  }
  .feedback-next_btn,
  .feedback-previous_btn {
    display: none;
  }
  .section-4-3 h4 {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF8EE;
  }
  /*____________________________________________---5↓---_____________________________________*/
  .section-5-3 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .section-5-3 .block {
    margin-top: 50px;
    grid-template-columns: 1fr;
  }
  .section-5-3 h4 {
    margin-bottom: 10px;
    margin-top: 25px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
  }
  .section-5-3 img {
    width: 100%;
    grid-column: 1 / 1;
  }
  .section-5-3 .text {
    grid-column: 1 / 1;
  }
}


/*____________________________________________---Adaptive---_____________________________________*/
