* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}


/*____________________________________________text-sstyle_____________________________________*/

/*____________________________________________text-sstyle_____________________________________*/


/*____________________________________________Header_____________________________________*/
header{
  height: 940px;
  width: 100%;
  background: #864C36;
}

.container{
  border: 1px dashed rgba(0, 0, 0, 0.2);
}

.top {
  position: fixed;
  top: 0px;
  z-index: 99999;
  width: 100%;
  height: 80px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .top nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  text-decoration: none;
  margin-left: 90px;
}


.title-animation{
  margin-top: 100px;
}

.title{
  margin-top: 150px;
}

.title h1{
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 120%;
  color: #FFF8EE;
}

.title h2{
  margin-top: -20px;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 120%;
  color: #FFF8EE;
}

.title p{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-top: 20px;
  color: #F6B289;
}

.animation{
  width: 650px;
  height: 650px;
  background: #F5B287;
}


/*____________________________________________Header_____________________________________*/
