* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

a:hover {
  color: #ED7339;
}


/*____________________________________________linde-bg_____________________________________*/

.lines-bg .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  top: 0px;
  height: 100vh;
  z-index: 2;
}

.lines-bg .line {
  width: 100%;
  height: 100vh;
  z-index: 2;
  border-left: 1px dashed rgba(135, 118, 114, 0.2);
}

.lines-bg .line:nth-child(5) {
  border-right: 1px dashed rgba(135, 118, 114, 0.2);
}


/*____________________________________________linde-bg_____________________________________*/


/*____________________________________________Header_____________________________________*/

header {
  background: #864C36;
}


/*____________________________________________Header_____________________________________*/


/*____________________________________________Main_____________________________________*/


/*____________________________________________--1--_____________________________________*/

.section-1 {
  margin-top: 100px;
}

.section-1 .text-arrow {
  display: flex;
  justify-content: space-between;
}

.section-1 .text-arrow img {
  margin-right: -14px;
}

.section-1 .row-1 hr {
  margin-left: 0px;
  height: 5px;
}

.section-2 .card hr {
  height: 3px;
}

.section-1 .row-1 h3,
.section-1 .row-2 h3 {
  font-style: normal;
  max-width: 880px;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #ED7339;
}

.section-1 .row-1 h3 {
  margin-left: 18px;
}

.section-1 .row-1 {
  display: flex;
  align-items: center;
}

.section-1 .row-2 {
  display: flex;
  align-items: baseline;
}

.section-1 .row-2 .col-5 {
  display: flex;
  justify-content: flex-end;
}

header lottie-player {
  width: 650px;
  height: 650px;
}

.section-1 .row-3 img {
  margin-top: 20px;
}


/*____________________________________________--1--_____________________________________*/


/*____________________________________________--2--_____________________________________*/

.section-2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template: repeat(2, 440px) / repeat(5, 1fr)); */
  grid-template-rows: auto;
  grid-gap: 0;
  background-image: url(../img/dotted-line.svg);
  background-size: 100% 100%;
}

.section-2 .card:nth-child(1) {
  grid-column: 2 / 2;
}

.section-2 .card:nth-child(2) {
  grid-column: 4 / 4;
}

.section-2 .card:nth-child(3) {
  grid-column: 1 / 1;
}

.section-2 .card:nth-child(4) {
  grid-column: 3 / 3;
}

.section-2 .card:nth-child(5) {
  grid-column: 5 / 5;
}

.card {
  display: grid;
  justify-self: center;
  margin-top: 10px;
  width: 100%;
}

.card h5 {
  margin-top: 15px;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
}

.card img {
  width: 100%;
  height: 280px;
}


/*____________________________________________--2--_____________________________________*/


/*____________________________________________--3--_____________________________________*/

.section-3 {
  margin-top: 120px;
  width: 100%;
  height: 560px;
  background: #000000;
  background-image: url(../img/bg-3.svg);
  background-size: 100% 100%;
}

.section-3 .row-1 {
  padding-top: 100px;
  display: flex;
  align-items: center;
}

.section-3 h3 {
  font-style: normal;
  max-width: 880px;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  margin-left: 18px;
  color: #ED7339;
}

.section-3 .count {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.section-3 .count h5 {
  color: #FFF8EE;
  font-size: 35px;
  line-height: 35px;
}

.section-3 hr {
  margin-left: 0px;
  height: 5px;
}

.section-3 img {
  position: relative;
  right: 0;
}

.section-3 .row-2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 0;
}

.section-3 .row-2 .box:nth-child(2) {
  grid-column: 3 / 3;
}

.section-3 .row-2 .box:nth-child(3) {
  grid-column: 5 / 5;
}

.section-3 h2 {
  margin-top: 50px;
  max-width: 320px;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 108px;
  color: #FFF8EE;
}

.section-3 .row-2 p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #FFF8EE;
}


/*____________________________________________--3--_____________________________________*/


/*____________________________________________--4--_____________________________________*/

.section-4 .row-1-2 {
  display: none;
}

.section-4 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 0;
}

.section-4 .row-1 {
  padding-top: 150px;
  display: flex;
  align-items: center;
}

.section-4 hr {
  width: 75px;
  margin-left: 0px;
  height: 5px;
}

.section-4 h3 {
  font-style: normal;
  max-width: 880px;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  margin-left: 18px;
  color: #ED7339;
}

.section-4 p {
  margin-top: 50px;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: #000000;
}

.section-4 .btn-black {
  position: relative;
  z-index: 5;
  width: 50%;
  height: 50px;
  margin-top: 50px;
  border-radius: 10px;
  text-decoration: none;
  background: #000000;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 50px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: #FFF8EE;
}

.section-4 .btn-black:hover {
  background: #ED7339;
}

.section-4 lottie-player {
  margin-top: 150px;
}

.section-4 .block:nth-child(1) {
  grid-column: 1 / 3;
}

.section-4 .block:nth-child(2) {
  padding-top: 350px;
  grid-column: 3 / 3;
}

.section-4 .block:nth-child(3) {
  grid-column: 4 / 6;
}

main .davider {
  height: 5px;
  margin-top: -7px;
}

main .full-davider {
  display: none;
  height: 5px;
}


/*____________________________________________--4--_____________________________________*/


/*____________________________________________--5--_____________________________________*/

.section-5 {
  margin-top: 100px;
}

.section-5 .tilte {
  display: flex;
  justify-content: center;
}

.section-5 .row-1 {
  display: flex;
  justify-content: space-between;
}

.section-5 .row-2 {
  display: flex;
  justify-content: center;
}

.section-5 .row-1 img {
  margin-right: -14px;
}

.section-5 .card-text .btn-black:hover {
  background-color: #ED7339;
}

.section-5 h3 {
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #ED7339;
}

.section-5 .row-2 h4 {
  max-width: 1050px;
  font-style: normal;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 170%;
  color: #000000;
}

.section-5 .arrows-w {
  width: 100%;
  margin-top: 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 35px;
}

.section-5 .cards .card-text:nth-child(2) {
  grid-column: 1 / 1;
}

.section-5 .cards .card-text:nth-child(4) {
  grid-column: 3 / 3;
}

.section-5 .cards .card-text:nth-child(6) {
  grid-column: 5 / 5;
}

.section-5 .card-text h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.section-5 .card-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 173%;
  color: #000000;
  min-height: 125px;
  margin-bottom: 20px;
}

.section-5 .card-text .btn-black {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 50px;
  border-radius: 10px;
  text-decoration: none;
  background: #000000;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 50px;
  border: none;
  z-index: 4;
  text-align: center;
  text-transform: uppercase;
  color: #FFF8EE;
}

.section-5 .arrow-davider {
  display: none;
}


/*____________________________________________--5--_____________________________________*/


/*____________________________________________Main_____________________________________*/


/*____________________________________________Footer_____________________________________*/

footer {}


/*____________________________________________Footer_____________________________________*/

@media (max-width: 1440px) {
  .section-5 .card-text h4 {
    font-size: 20px;
  }
  .section-4 img {
    padding-top: 70px;
    width: 200px;
  }
  .section-4 hr {
    width: 55px;
  }
  .section-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 100px 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0;
  }
  .section-4 .block:nth-child(1) {
    grid-column: 1 / 3;
  }
  .section-4 .block:nth-child(2) {
    padding-top: 350px;
    grid-column: 3 / 3;
  }
  .section-4 .block:nth-child(3) {
    grid-column: 4 / 6;
  }
  .section-5 .card-text p {
    min-height: 165px;
  }
}

@media (max-width: 1200px) {
  .davider {
    display: none;
  }
  main .full-davider {
    display: block;
    height: 3px;
    margin-top: 35px;
  }
  .section-5 {
    margin-top: 50px;
  }
}

@media (max-width: 1024px) {
  .lines-bg {
    display: none;
  }
  .section-4 .row-1 {
    padding-top: 120px;
  }
  .section-4 .block:nth-child(1) {
    grid-column: 1 / 4;
  }
  .section-4 .block:nth-child(2) {
    display: none;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 40px;
    line-height: 150%;
  }
  h3 {
    font-size: 20px;
    line-height: 150%;
  }
  h4 {
    font-weight: 300;
    font-size: 16px;
    line-height: 36px;
  }
  p {
    font-size: 14px;
    line-height: 170%;
  }
  .section-1 .row-1 h3,
  .section-1 .row-2 h3 {
    font-size: 32px;
    line-height: 150%;
  }
  .section-1 .row-2 hr {
    display: none;
  }
  .section-2 {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
    background-image: url(../img/dotted-line.svg);
    background-size: 100% 100%;
  }
  .section-2 .card:nth-child(1) {
    grid-column: 1 / 3;
  }
  .section-2 .card:nth-child(2) {
    grid-column: 4 / 6;
  }
  .section-2 .card:nth-child(3) {
    grid-column: 1 / 3;
  }
  .section-2 .card:nth-child(4) {
    grid-column: 4 / 6;
  }
  .section-2 .card:nth-child(5) {
    margin-top: 20px;
    grid-column: 2 / 5;
  }
  .section-2 .card hr {
    display: none;
  }
  .section-2 .card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 100%;
  }
  .section-2 .card h5 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
  }
  .section-2 .card img {
    width: 60%;
    height: 200px;
  }
  .section-3 h2 {
    font-size: 48px;
    line-height: 150%;
  }
  .section-3 {
    width: 100%;
    height: 400px;
    margin-top: 100px;
    background-image: url(../img/bg-3-md.svg);
  }
  .section-3 h3 {
    font-size: 32px;
    line-height: 150%;
  }
  .section-3 .row-1 {
    padding-top: 50px;
  }
  .section-4 .row-1 {
    display: none;
  }
  .section-4 .row-1-2 {
    display: block;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .section-4 h3,
  .section-5 h3 {
    font-size: 20px;
    line-height: 150%;
    text-align: center;
  }
  .section-4 p {
    margin-top: 30px;
    font-size: 14px;
    line-height: 170%;
  }
  .section-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0;
  }
  .section-4 .block:nth-child(3) {
    order: 1;
    grid-column: 1 / 5;
  }
  .section-4 .block:nth-child(1) {
    order: 2;
    grid-column: 1 / 5;
  }
  .section-4 .block:nth-child(2) {
    display: none;
  }
  .section-4 .btn-black {
    width: 100%;
    height: 50px;
    margin-top: 50px;
  }
  .section-5 .arrow-davider {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .section-5 .card-text {
    width: 100%;
  }
  .section-5 .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .section-5 .card-text .btn-black {
    font-size: 16px;
  }
  .section-5 .row-2 h4 {
    font-size: 16px;
    line-height: 150%;
  }
  .section-5 .card-text p {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .section-1 {
    margin-top: 50px;
    padding-left: 15px;
  }
  .section-1 .row-1 hr {
    display: none;
  }
  .section-1 .row-1 h3 {
    margin-left: 0;
  }
  .section-1 .row-1 h3,
  .section-1 .row-2 h3,
  .section-5 h3 {
    font-size: 20px;
    line-height: 150%;
  }
  .section-1 .text-arrow img {
    display: none;
  }
  .section-1 .row-3 {
    display: none;
  }
  .section-2 {
    padding: 15px;
    grid-template-columns: 1fr;
    grid-gap: 0;
    background-image: none;
  }
  .section-2 .card:nth-child(1) {
    margin-top: 40px;
    grid-column: 1 / 1;
  }
  .section-2 .card:nth-child(2) {
    margin-top: 40px;
    grid-column: 1 / 1;
  }
  .section-2 .card:nth-child(3) {
    margin-top: 40px;
    grid-column: 1 / 1;
  }
  .section-2 .card:nth-child(4) {
    margin-top: 40px;
    grid-column: 1 / 1;
  }
  .section-2 .card:nth-child(5) {
    margin-top: 40px;
    grid-column: 1 / 1;
  }
  .section-3 h3 {
    font-size: 20px;
  }
  .section-3 .row-1 hr {
    display: none;
  }
  .section-3 .row-1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .section-3 .row-2 .box:nth-child(1) {
    grid-column: 1 / 1;
  }
  .section-3 .row-2 .box:nth-child(2) {
    grid-column: 1 / 1;
  }
  .section-3 .row-2 .box:nth-child(3) {
    grid-column: 1 / 1;
  }
  .section-3 {
    width: 100%;
    height: 600px;
    margin-top: 80px;
    background-image: url(../img/bg-3-sm.svg);
  }
  .section-3 .box {
    margin-left: 15px;
  }
  .section-3 h2 {
    margin-top: 60px;
    font-size: 40px;
  }
  .section-3 .row-2 p {
    font-size: 14px;
  }
  .section-4 {
    padding: 15px;
  }
  .section-4 .animation-2 {
    order: 1;
  }
  .section-4 lottie-player {
    height: 280px;
    padding-bottom: 20px;
    margin-top: 50px;
  }
  .section-5 {
    margin-bottom: 50px;
  }
  .section-5 .arrows-w {
    display: none;
  }
  .section-5 .row-1 img {
    display: none;
  }
  .cards {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    grid-template-rows: 155px;
    margin-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .section-5 .cards .card-text:nth-child(2) {
    grid-column: 1 / 1;
  }
  .section-5 .cards .card-text:nth-child(4) {
    grid-column: 1 / 1;
  }
  .section-5 .cards .card-text:nth-child(6) {
    grid-column: 1 / 1;
  }
  .section-5 .card-text p {
    min-height: 15px;
  }
  .cards hr {
    display: none;
  }
  .section-5 .card-text .btn-black {
    margin-top: 0px;
  }
  .title p {
    margin-top: 10px;
  }
}
