* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

a:hover {
  color: #ED7339;
}


/*____________________________________________linde-bg_____________________________________*/

.lines-bg .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  top: 0px;
  height: 100vh;
  z-index: 2;
}

.lines-bg .line {
  width: 100%;
  height: 100vh;
  z-index: 2;
  border-left: 1px dashed rgba(135, 118, 114, 0.2);
}

.lines-bg .line:nth-child(5) {
  border-right: 1px dashed rgba(135, 118, 114, 0.2);
}


/*____________________________________________linde-bg_____________________________________*/


/*____________________________________________Header_____________________________________*/

header {
  top: 0px;
  height: 940px;
  width: 100%;
  background: #3C2829;
}

.top {
  position: fixed;
  top: 0px;
  z-index: 99999;
  width: 100%;
  height: 80px;
  background: #fff;
  border-bottom: 1px solid #877672;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .top nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .links a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  text-decoration: none;
  margin-left: 90px;
}

.links a:hover {
  color: #ED7339;
}

.links a:active {
  color: #ED7339;
}


#active-link{
 color: #ED7339;
}

.title-animation {
  padding-top: 110px;
}

.title-animation .row {
  display: flex;
  align-items: center;
}

.title {
  z-index: 4;
}

.title h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 120%;
  color: #FFF8EE;
}

.title h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 120%;
  color: #FFF8EE;
}

.title p {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-top: 20px;
  color: #F6B289;
}

.animation {
  display: flex;
  justify-content: flex-end;
  width: 650px;
  height: 650px;
  z-index: 3;
}


/*____________________________________________Header_____________________________________*/


/*____________________________________________Main_____________________________________*/




/*____________________________________________--4--_____________________________________*/

.section-4 .row-1-2 {
  display: none;
}

.section-4 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 0;
}

.section-4 .row-1 {
  padding-top: 150px;
  display: flex;
  align-items: center;
}

.section-4 hr {
  width: 75px;
  margin-left: 0px;
  height: 5px;
}

.section-4 h3 {
  font-style: normal;
  max-width: 880px;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  margin-left: 18px;
  color: #ED7339;
}

.section-4 p {
  margin-top: 50px;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: #000000;
}

.section-4 .btn-black {
  width: 50%;
  height: 50px;
  margin-top: 50px;
  border-radius: 10px;
  text-decoration: none;
  background: #000000;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 50px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: #FFF8EE;
}

lottie-player {
  width: 100%;
}

.section-4 .block:nth-child(1) {
  grid-column: 1 / 3;
}

.section-4 .block:nth-child(2) {
  padding-top: 350px;
  grid-column: 3 / 3;
}

.section-4 .block:nth-child(3) {
  grid-column: 4 / 6;
}

main .davider {
  height: 5px;
  margin-top: -7px;
}



/*____________________________________________--4--_____________________________________*/
/*____________________________________________--3-2--_____________________________________*/
.section-3-2{
  position: relative;
  width: 100%;
  background-color: #fff;
  color: #fff;
  height: 565px;
  z-index: 999;
  background-image: url(../img/arrow-2-section-3-2.svg);
  background-size: 100% 100%;
}

.section-3-2 .card{
  padding-top: 100px;
}

.section-3-2 h5{
    margin-top: 15px;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
}
.section-3-2 p{
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #808080;
}
/*____________________________________________--3-2--_____________________________________*/


/*____________________________________________--4-2--_____________________________________*/
.section-4-2{
  position: relative;
  background-color: #fff;
  color: #fff;

  z-index: 999;
  height: 1024px;
  width: 100%;
  background-image: url(../img/section-4-2.svg);
  background-size: 100% 100%;
}
/*____________________________________________--4-2--_____________________________________*/
/*____________________________________________--5-2--_____________________________________*/
.section-5-2{
  height: 715px;
  width: 100%;
  background-image: url(../img/section-5-2.svg);
  background-size: 100% 100%;

}

.section-5-2 .row-1{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.section-5-2 .row-1 .block-1{
  padding-top: 175px;
  grid-column: 1 / 3;
}

.section-5-2 .row-1 .block-2{
  padding-top: 140px;
  grid-column: 4 / 6;
}

.section-5-2 .block-1 .secondary-text{
  margin-top: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 173%;
  color: #877672;
}
.section-5-2 .block-1 .main-text{
  margin-top: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: #FFF8EE;
}



.section-5-2 h3 {
  min-width: 660px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #ED7339;
}

.section-5-2 h4{
  margin-top: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 170%;
  color: #FFF8EE;
}

.section-5-2 h2 {
  margin-top: 50px;
  max-width: 320px;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 108px;
  color: #FFF8EE;
}

.section-5-2 .block-2 p{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #FFF8EE;
}

/*____________________________________________--5-2--_____________________________________*/
/*____________________________________________--5--_____________________________________*/

.section-5 {
  margin-top: 100px;
}

.section-5 .tilte {
  display: flex;
  justify-content: center;
}

.section-5 .row-1 {
  display: flex;
  justify-content: space-between;
}

.section-5 .row-2 {
  display: flex;
  justify-content: center;
}

.section-5 .row-1 img {
  margin-right: -14px;
  z-index: 2;
}

.section-5 h3 {
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #ED7339;
}

.section-5 .row-2 h4 {
  max-width: 1050px;
  font-style: normal;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 170%;
  color: #000000;
}

.section-5 .arrows-w {
  width: 100%;
  margin-top: 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 255px;
  grid-gap: 0;
  margin-top: 35px;
}

.section-5 .cards .card-text:nth-child(1) {
  grid-column: 1 / 1;
}

.section-5 .cards .card-text:nth-child(2) {
  grid-column: 3 / 3;
}

.section-5 .cards .card-text:nth-child(3) {
  grid-column: 5 / 5;
}

.section-5 .card-text h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.section-5 .card-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 173%;
  color: #000000;
  min-height: 125px;
  margin-bottom: 20px;
}

.section-5 .card-text .btn-black {
  width: 100%;
  height: 50px;
  margin-top: 50px;
  border-radius: 10px;
  text-decoration: none;
  background: #000000;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 50px;
  border: none;
  z-index: 9999999999;
  text-align: center;
  text-transform: uppercase;
  color: #FFF8EE;
}


/*____________________________________________--5--_____________________________________*/


/*____________________________________________Main_____________________________________*/


/*____________________________________________Footer_____________________________________*/

footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  margin-top: 100px;
  background-color: #fff;
  z-index: 9999;
}

footer .links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 70px;
  grid-gap: 0;
}

footer .follow-us h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;
}

footer .follow-us img {
  width: 25px;
  height: 25px;
  margin-top: 40px;
  float: left;
}

footer .links a:hover {
  color: #ED7339;
}

footer .links a {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: #877672;
  margin-left: 50px;
}

footer .row-1,
footer .row-2 {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

footer .row-2 p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 173%;
  text-align: right;
  color: #877672;
  margin-bottom: 30px;
}

footer .row-1 h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;
}

footer .row-1 input {
  margin-top: 30px;
  padding-left: 20px;
  width: 290px;
  height: 50px;
  border: 1px solid #3C2829;
  box-sizing: border-box;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  text-transform: capitalize;
  color: #3C2829;
}

footer .row-1 button {
  cursor: pointer;
  position: relative;
  margin-top: 30px;
  margin-left: -50px;
  width: 50px;
  height: 50px;
  background-color: #3C2829;
  border-radius: 10px;
  border: none;
}

footer .row-1 input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 173%;
  text-transform: capitalize;
  color: #3C2829;
  opacity: 0.5;
}


/*____________________________________________Footer_____________________________________*/

@media (max-width: 1440px) {
  footer {
    margin-top: 150px;
  }
  footer .logo {
    width: 290px;
  }
  footer .row-1 input {
    width: 255px;
  }
  .section-5 .card-text h4 {
    font-size: 20px;
  }
  .section-4 img {
    padding-top: 70px;
    width: 200px;
  }
  .section-4 hr {
    width: 55px;
  }
  .section-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 100px 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0;
  }
  .section-4 .block:nth-child(1) {
    grid-column: 1 / 3;
  }
  .section-4 .block:nth-child(2) {
    padding-top: 350px;
    grid-column: 3 / 3;
  }
  .section-4 .block:nth-child(3) {
    grid-column: 4 / 6;
  }
  .section-5 .card-text p {
    min-height: 165px;
  }
}

@media (max-width: 1280px) {
  footer .logo {
    width: 200px;
  }

  footer .row-1 input {
    width: 260px;
  }
}

@media (max-width: 1200px) {
  footer {
    margin-top: 200px;
  }
  footer .row-1 .email-input {
    margin-top: 50px;
  }
  .davider {
    display: none;
  }
}

@media (max-width: 1024px) {
  .lines-bg{
    display: none;
  }
  footer .links a {
    margin-left: 35px;
  }
  footer .row-1 input {
    width: 95%;
  }

  .section-4 .row-1 {
    padding-top: 120px;
  }
  .section-4 .block:nth-child(1) {
    grid-column: 1 / 4;
  }
  .section-4 .block:nth-child(2) {
    display: none;
  }


}

@media (max-width: 768px) {
  footer .row-1 {
    margin-top: 250px;
  }
  footer .links {
    margin-top: 50px;
  }
  header {
    height: 840px;
  }
  header .links a {
    margin-left: 25px;
  }
  .title h1 {
    font-size: 64px;
    line-height: 120%;
  }
  .title h2 {
    font-size: 48px;
    line-height: 120%;
  }
  .title p {
    font-size: 18px;
    line-height: 150%;
    margin-top: 20px;
  }
  .animation {
    width: 350px;
    height: 350px;
  }
  .title-animation {
    padding-top: 150px;
  }

  .section-4 .row-1 {
    display: none;
  }
  .section-4 .row-1-2 {
    display: block;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .section-4 h3,
  .section-5 h3 {
    font-size: 32px;
    line-height: 150%;
  }
  .section-4 p {
    margin-top: 30px;
  }

  .section-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0;
  }
  .section-4 .block:nth-child(3) {
    order: 1;
    grid-column: 1 / 5;
  }
  .section-4 .block:nth-child(1) {
    order: 2;
    grid-column: 1 / 5;
  }
  .section-4 .block:nth-child(2) {
    display: none;
  }
  .section-4 .btn-black {
    width: 100%;
    height: 50px;
    margin-top: 50px;
  }
  .section-5 .row-2 h4 {
    font-size: 18px;
    line-height: 150%;
  }
  .section-5 .card-text p {
    font-size: 16px;
  }
  footer {
    margin-top: 200px;
  }
  footer .email-input {
    margin-top: 40px;
    align-items: center;
  }
  footer .links {
    margin-top: 40px;
  }
  footer .links a {
    margin-left: 0px;
  }
}

@media (max-width: 576px) {

  header {
    height: 650px;
  }

  .title-animation{
    padding: 20px;
  }
  .top .links {
    display: none;
  }

  .title h1 {
    font-size: 40px;
  }
  .title h2 {
    font-size: 30px;
  }

  .title hr{
    margin-top: 10px;
  }

  .title p{
    width: 100%;
    font-size: 14px;
  }

  .title-animation {
    padding-top: 100px;
  }
  .animation {
    width: 250px;
    height: 320px;
  }

  .section-4{
    padding: 15px;
  }

  .section-4 .animation-2{
    order: 1;
  }

  lottie-player{
    height: 280px;
    padding-bottom: 20px;
  }

  .section-5 .arrows-w{
    display: none;
  }

  .section-5 .row-1 img {
    display: none;
  }

  .cards {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    grid-template-rows: 155px;
    margin-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-5 .cards .card-text:nth-child(1) {
    grid-column: 1 / 1;
  }

  .section-5 .cards .card-text:nth-child(2) {
    grid-column: 1 / 1;
  }

  .section-5 .cards .card-text:nth-child(3) {
    grid-column: 1 / 1;
  }
  .section-5 .card-text p {
    min-height: 15px;
  }
  .cards hr{
    display: none;
  }
  .section-5 .card-text .btn-black {
    margin-top: 0px;
  }
  .title p{
    margin-top: 10px;
  }
  footer {
    margin-top: 0px;
}
  footer .row-1 {
    margin-top: 0;
  }
  footer .row-2 {
    padding-top: 50px;
  }
  footer .row-2 p{
    font-size: 12px;
  }

}
